/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }*/ 
  body {
      font-family: 'Piazzolla';
      background-color: #fdf7dd;
      color: #080808;
      margin: 0;
      padding: 0;
      height:100vh;
      display: flex;
      flex-direction: column;
  }
  
  /* Header styling */
  header {
      background-color: #fdf7dd;
      font-family: 'Roboto';
      font-size: 40px;
      padding: 10px 20px;
      flex-shrink: 0;
  }
  .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .logo {
      font-family: 'Roboto';
      font-weight: bold;
  }
  
  /* Navigation */
  nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  nav ul li {
      display: inline;
  }
  nav ul li a {
      text-decoration: none;
      color: #080808;
      font-size: 30px;
      margin-left: 20px;
  }
  
  /* Main Section */
  main {
    flex-grow: 1; 
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
  }
  p {
    margin: 0; 
    padding: 0;
    margin-bottom: 2px; 
  }
  .hero {
      background-color: #fdf7dd;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 20px;
      margin: 50px 0;
  }
  .hero h1 {
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      font-size: 7vw;
      margin: 0; 
      margin-bottom: 10px;
      padding: 0;
      font-weight: bold;
  }
  .hero p {
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 7vw;
      font-weight: bold;
      margin: 0; 
      padding: 0;
      margin-bottom: 10px;
      color: #080808;
  }
  
  /* Button styling */
  footer {
    flex-shrink: 0; 
    text-align: center;
    padding: 0;
  }
  button {
      padding: 0.5rem 1rem;
      background-color: #fdf7dd;
      font-family: 'Piazzolla';
      font-size: 40px;
      text-decoration: none;
      color: #080808;
      border: 5px solid black;
      border-radius: 10px;
      border-color: #080808;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
      cursor: pointer;
  }
  button:hover {
      background-color: #f7f3ca;
  }