body {
    height: 100vh;
    margin:0;
    padding:0;
    display: flex;
    flex-direction:column;
    background-color: #fdf7dd;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdf7dd;
    margin: 0;
    border-bottom: 2px solid;
}
h1 {
    margin: 1rem;
    padding: 0;
}
.logo {
    font-family: 'Sylfaen'; /*'Sylfaen'*/
    font-weight: bold;
    font-size: 5vh;
}

/*Ham Menus*/
.offscreen-ham {
    background-color: #fdf7dd;
    height: 100vh;
    width: 100%;
    max-width: 20vw;
    position: fixed;
    top: 0;
    left: -20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    font-family: 'Sylfaen';
    transition: .3s ease;
}
.offscreen-ham.active {
    left: 0;
}
.ham-menu {
    height: 50px;
    width: 50px;
    margin-right: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 50px;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}

section {
    flex: auto;
}

#map {
    height: 100%;
    /* margin-left:10vh;
    margin-right:10vh; */
  }

/* footer {
    height: 100px; 
} */

#map-marker {
    height: 300px;
    background-color:blue;
}


/* Marker Content */
.marker-content {
    padding: 0;
    margin: 0;
}
