body {
    height: 100vh;
    margin:0;
    padding:0;
    display: flex;
    flex-direction:column;
    background-color: #fdf7dd;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf7dd;
    margin: 0;
    border-bottom: 2px solid;
}
h1 {
    margin: 1rem;
    padding: 0;
}
.logo {
    font-family: 'Sylfaen'; /*'Sylfaen'*/
    font-weight: bold;
    font-size: 5vh;
    flex: 1;
    text-align: center;
}

/*Ham Menus*/
.ham-menu {
    font-size: 5vh;
    margin-left: 1vw;
    cursor: pointer;
}
.sidebar {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw; /* Width of the sidebar */
    height: 100%;
    background-color: #fdf7dd;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000; /* Sit on top */
}

.sidebar ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

.sidebar ul li {
    margin: 10px 0; /* Space between items */
}

.sidebar .close {
    font-size: 30px;
    cursor: pointer; /* Change cursor on hover */
    float: right; /* Align to the right */
}

section {
    flex: auto;
}

#map {
    height: 100%;
    /* margin-left:10vh;
    margin-right:10vh; */
  }

/* footer {
    height: 100px; 
} */

/* Marker Content */
.marker-content {
    padding: 0;
    margin: 0;
}

#event-form p {
    margin:0;
    padding:0;
}

#event-form {
    margin: 0; 
    padding: 0; 
}

#event-form h1 {
    margin: 0;
    padding: 0;
}

#event-form p {
    margin: 0;
    padding: 0;
}

#event-form input {
    margin: 5px 0; /* Adjust as needed */
}


/* <h1>Create Event</h1>
            <p>Title</p>
            <input id="titleInput" type="text" autocomplete="off">
            <p>Host Name</p>
            <input id="hostNameInput" type="text" autocomplete="off">
            <p>Date</p>
            <input id="dateInput" type="text" autocomplete="off">
            <p>Time Input</p>
            <input id="timeInput" type="text" autocomplete="off">
            <p>Description</p>
            <input id="descriptionInput" type="text" autocomplete="off">
            <button type="submit">Submit</button>*/